body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .calculator {
    background-color:skyblue;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    width: 100%;
  }
  
  .display {
    grid-column: span 4;
    background-color:cornsilk;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
  }
  
  .btn {
    background-color:black;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color:olivedrab;
  }
  
  .btn:active {
    background-color:olivedrab;
  }
  